<header class="video-player-header">
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/home']">
                    home
                </a>
            </li>
        </ul>
    </nav>
    <section>
        <h2>
            Streaming now - {{ videoInfo.name }}
        </h2>
    </section>
</header>
<main class="main-content">
    <div class="video-container">
        <video controls>
            <source [src]='generateVideoSrc()' type='video/mp4'>
        </video>
    </div>
</main>